Flask
flask-cors
pandas
PyMuPDF # fitz ki library yahi hai
python-docx
werkzeug
# --- Camelot dependencies ---
camelot-py[cv]
# Agar ye specific version kaam na kare toh sirf camelot-py bhi try kar sakte hain.